---
import "../styles/global.css";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
  </head>
  <body class="bg-[#f1ebe5]">
    <div class="flex justify-center items-center min-h-screen">
      <slot />
    </div>
  </body>
</html>
